In [16]:
import pandas as pd
import sqlalchemy
import json
import time
import yfinance as yf
from datetime import datetime
import pytz

# Ingest Datalake

In [46]:
# ---- set database connection
database_username = 'gian'
database_password = 'colingewe'
database_ip       = '172.17.0.5'
database_name     = 'gian_database'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                     database_ip, database_name))

In [47]:
lq45 = ["ASII.JK", "BBCA.JK", "BBRI.JK", "BBNI.JK", "BMRI.JK", "UNTR.JK", "TLKM.JK", "INDF.JK", "UNVR.JK", "WIKA.JK", "EXCL.JK", "ADRO.JK", "ANTM.JK", "AALI.JK", "ICBP.JK", "INCO.JK", "ITMG.JK", "JPFA.JK", "JSMR.JK", "KLBF.JK", "LPKR.JK", "MNCN.JK", "PGAS.JK", "PTBA.JK", "PTPP.JK", "SMGR.JK", "SRIL.JK", "SMBR.JK", "TKIM.JK", "TINS.JK"]

In [48]:
dt_now = pd.to_datetime(datetime.now(tz=pytz.timezone('Asia/Jakarta')))

In [49]:
# Set the start and end dates for the data to be downloaded
start_date = "2010-01-01"
end_date = dt_now

all_stocks = []

for stocks in lq45:
    # Download the historical data for BBRI
    temp_data = yf.download(stocks, start=start_date, end=end_date)
    temp_data['Stock Name'] = stocks[:-3]
    all_stocks.append(temp_data)

df_all_stocks = pd.concat(all_stocks).reset_index()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [50]:
stocks_df_list = {}
for i in df_all_stocks['Stock Name'].unique():
    temp_df = df_all_stocks[df_all_stocks['Stock Name'] == i].reset_index(drop=True).drop(['Stock Name'],axis=1)
    stocks_df_list[i] = temp_df.sort_values(by="Date",ascending=False)

# Export to Datalake

In [51]:
for i in list(stocks_df_list.keys()):
    stocks_df_list[i].to_sql(con=database_connection, 
          name='dl_stock_{}'.format(i), 
          if_exists='replace',
          index=False)
    print(stocks_df_list[i])

           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04  3530.0  3550.0  3465.0  3530.0  2421.050781         40
1    2010-01-05  3550.0  3570.0  3485.0  3550.0  2434.768066         40
2    2010-01-06  3530.0  3580.0  3515.0  3530.0  2421.050781         40
3    2010-01-07  3420.0  3560.0  3415.0  3420.0  2345.607422         40
4    2010-01-08  3440.0  3450.0  3380.0  3440.0  2359.324463         40
...         ...     ...     ...     ...     ...          ...        ...
3263 2023-02-27  5725.0  5800.0  5700.0  5800.0  5800.000000   28650400
3264 2023-02-28  6200.0  6275.0  6100.0  6100.0  6100.000000  154669700
3265 2023-03-01  6100.0  6175.0  6050.0  6150.0  6150.000000   49851200
3266 2023-03-02  6150.0  6175.0  6075.0  6150.0  6150.000000   26943600
3267 2023-03-03  6150.0  6150.0  6025.0  6050.0  6050.000000   32818500

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04  1010.0  1010.0   965.0  1010.0   839.154419   77812500
1    2010-01-05  1020.0  1020.0   990.0  1020.0   847.462830   44442500
2    2010-01-06   990.0  1020.0   990.0   990.0   822.537476   27782500
3    2010-01-07   995.0   995.0   965.0   995.0   826.691528   38632500
4    2010-01-08   970.0   995.0   970.0   970.0   805.920471   27427500
...         ...     ...     ...     ...     ...          ...        ...
3264 2023-02-27  8675.0  8775.0  8650.0  8775.0  8775.000000   59983900
3265 2023-02-28  8775.0  8775.0  8675.0  8750.0  8750.000000  106349400
3266 2023-03-01  8725.0  8750.0  8600.0  8600.0  8600.000000   67034700
3267 2023-03-02  8600.0  8700.0  8600.0  8625.0  8625.000000   56672000
3268 2023-03-03  8650.0  8675.0  8475.0  8475.0  8475.000000   95376900

[3269 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04   780.0   785.0   765.0   780.0   558.847961  113720000
1    2010-01-05   785.0   790.0   780.0   785.0   562.430176  148765000
2    2010-01-06   775.0   795.0   770.0   775.0   555.265564   95310000
3    2010-01-07   765.0   775.0   755.0   765.0   548.100708   92665000
4    2010-01-08   770.0   770.0   755.0   770.0   551.683167   79305000
...         ...     ...     ...     ...     ...          ...        ...
3263 2023-02-27  4780.0  4810.0  4760.0  4810.0  4810.000000   89918800
3264 2023-02-28  4760.0  4790.0  4670.0  4670.0  4670.000000  273125500
3265 2023-03-01  4730.0  4750.0  4700.0  4720.0  4720.000000  115578600
3266 2023-03-02  4750.0  4780.0  4720.0  4780.0  4780.000000   59377900
3267 2023-03-03  4800.0  4800.0  4730.0  4760.0  4760.000000   84777000

[3268 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1772.763916  1772.763916  1772.763916  1772.763916
1    2010-01-05  1772.763916  1772.763916  1772.763916  1772.763916
2    2010-01-06  1772.763916  1772.763916  1772.763916  1772.763916
3    2010-01-07  1772.763916  1772.763916  1772.763916  1772.763916
4    2010-01-08  1772.763916  1772.763916  1772.763916  1772.763916
...         ...          ...          ...          ...          ...
3263 2023-02-27  8900.000000  9000.000000  8850.000000  8950.000000
3264 2023-02-28  9000.000000  9000.000000  8775.000000  8775.000000
3265 2023-03-01  8775.000000  8975.000000  8775.000000  8950.000000
3266 2023-03-02  8950.000000  8950.000000  8875.000000  8875.000000
3267 2023-03-03  8875.000000  8900.000000  8750.000000  8750.000000

        Adj Close    Volume
0     1198.183105         0
1     1198.183105         0
2     1198.183105         0
3     1198.183105         0
4     1198.183105         0
...           ...       ...
3263  8950.000000  24060000
3264  8775.000000  54156700
3265  8950.000000  24102100
3266  8875.000000  24788600
3267  8750.000000  27494700

[3268 rows x 7 columns]
           Date          Open          High           Low         Close  \
0    2010-01-04   2421.384766   2421.384766   2323.054443   2421.384766
1    2010-01-05   2396.802246   2433.676270   2359.928467   2396.802246
2    2010-01-06   2359.928467   2409.093506   2335.345947   2359.928467
3    2010-01-07   2323.054443   2347.637207   2286.180664   2323.054443
4    2010-01-08   2347.637207   2359.928467   2323.054443   2347.637207
...         ...           ...           ...           ...           ...
3263 2023-02-27  10075.000000  10150.000000  10050.000000  10150.000000
3264 2023-02-28  10075.000000  10150.000000  10000.000000  10000.000000
3265 2023-03-01  10150.000000  10200.000000  10050.000000  10100.000000
3266 2023-03-02  10150.000000  10300.000000  10150.000000  10225.000000
3267 2023-03-03  10200.000000  10250.000000  10025.000000  10050.000000

         Adj Close     Volume
0      1662.156006  106203221
1      1645.281494   55534226
2      1619.969238   34968857
3      1594.656982   59152641
4      1611.532227   26419106
...            ...        ...
3263  10150.000000   23950900
3264  10000.000000   73220200
3265  10100.000000   44782800
3266  10225.000000   36495900
3267  10050.000000   44315300

[3268 rows x 7 columns]
           Date          Open          High           Low         Close  \
0    2010-01-04  15094.412109  15238.625977  14902.126953  15094.412109
1    2010-01-05  15478.983398  15575.125977  15142.483398  15478.983398
2    2010-01-06  15430.912109  15671.268555  15238.625977  15430.912109
3    2010-01-07  15238.625977  15575.125977  15094.412109  15238.625977
4    2010-01-08  15767.411133  15767.411133  15286.697266  15767.411133
...         ...           ...           ...           ...           ...
3263 2023-02-27  25025.000000  25200.000000  24900.000000  25175.000000
3264 2023-02-28  29200.000000  30150.000000  27750.000000  27900.000000
3265 2023-03-01  28050.000000  28350.000000  27550.000000  27575.000000
3266 2023-03-02  27700.000000  28450.000000  27650.000000  28325.000000
3267 2023-03-03  28375.000000  28475.000000  28000.000000  28125.000000

         Adj Close    Volume
0      9333.964844   5495994
1      9571.772461   7809741
2      9542.048828   4022144
3      9423.142578   4145398
4      9750.129883   5126751
...            ...       ...
3263  25175.000000   2847000
3264  27900.000000  29878100
3265  27575.000000   6648300
3266  28325.000000   5345700
3267  28125.000000   3932500

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04  1910.0  1920.0  1890.0  1910.0  1354.078125   44820000
1    2010-01-05  1920.0  1930.0  1910.0  1920.0  1361.167603   56250000
2    2010-01-06  1900.0  1940.0  1890.0  1900.0  1346.988892   67870000
3    2010-01-07  1850.0  1900.0  1850.0  1850.0  1311.541748  145440000
4    2010-01-08  1870.0  1890.0  1840.0  1870.0  1325.720581   88070000
...         ...     ...     ...     ...     ...          ...        ...
3263 2023-02-27  3990.0  4000.0  3920.0  3960.0  3960.000000   66461600
3264 2023-02-28  3930.0  3970.0  3880.0  3880.0  3880.000000  115766900
3265 2023-03-01  3930.0  3990.0  3910.0  3930.0  3930.000000   47395200
3266 2023-03-02  3900.0  3930.0  3880.0  3880.0  3880.000000   43208800
3267 2023-03-03  3880.0  3920.0  3870.0  3900.0  3900.000000   49796000

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  3675.0  3700.0  3525.0  3675.0  2456.232910  13221000
1    2010-01-05  3750.0  3775.0  3650.0  3750.0  2506.360107  21437000
2    2010-01-06  3725.0  3850.0  3725.0  3725.0  2489.651123  22473000
3    2010-01-07  3750.0  3825.0  3725.0  3750.0  2506.360107  12431500
4    2010-01-08  3775.0  3825.0  3725.0  3775.0  2523.069092   9559000
...         ...     ...     ...     ...     ...          ...       ...
3263 2023-02-27  6575.0  6600.0  6525.0  6600.0  6600.000000   6349700
3264 2023-02-28  6600.0  6600.0  6475.0  6475.0  6475.000000  15811400
3265 2023-03-01  6475.0  6500.0  6275.0  6275.0  6275.000000  14766000
3266 2023-03-02  6300.0  6350.0  6250.0  6250.0  6250.000000   9675100
3267 2023-03-03  6250.0  6325.0  6250.0  6275.0  6275.000000   7910700

[3268 rows x 7 columns]

           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  2210.0  2220.0  2210.0  2210.0  1597.647095   5952500
1    2010-01-05  2280.0  2290.0  2220.0  2280.0  1648.251343        20
2    2010-01-06  2260.0  2290.0  2240.0  2260.0  1633.793335        20
3    2010-01-07  2220.0  2260.0  2210.0  2220.0  1604.876831        20
4    2010-01-08  2230.0  2230.0  2190.0  2230.0  1612.105469        20
...         ...     ...     ...     ...     ...          ...       ...
3264 2023-02-27  4350.0  4350.0  4210.0  4300.0  4300.000000  25283100
3265 2023-02-28  4300.0  4320.0  4180.0  4180.0  4180.000000  56167600
3266 2023-03-01  4170.0  4200.0  4110.0  4150.0  4150.000000  20343000
3267 2023-03-02  4160.0  4220.0  4150.0  4150.0  4150.000000  18391700
3268 2023-03-03  4150.0  4170.0  4050.0  4060.0  4060.000000  25480200

[3269 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2010-01-04  305.604218  305.604218  300.973846  305.604218  247.194763
1    2010-01-05  305.604218  310.234589  300.973846  305.604218  247.194763
2    2010-01-06  305.604218  314.864960  305.604218  305.604218  247.194763
3    2010-01-07  305.604218  314.864960  300.973846  305.604218  247.194763
4    2010-01-08  300.973846  305.604218  300.973846  300.973846  243.449371
...         ...         ...         ...         ...         ...         ...
3263 2023-02-27  660.000000  660.000000  615.000000  625.000000  625.000000
3264 2023-02-28  630.000000  630.000000  620.000000  630.000000  630.000000
3265 2023-03-01  630.000000  645.000000  625.000000  630.000000  630.000000
3266 2023-03-02  630.000000  645.000000  630.000000  635.000000  635.000000
3267 2023-03-03  645.000000  645.000000  625.000000  635.000000  635.000000

        Volume
0      2411255
1      9895543
2     13534024
3      4196751
4      4416496
...        ...
3263  16409000
3264   7510200
3265   7292700
3266   3428900
3267   8287200

[3268 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1874.142456  1874.142456  1874.142456  1874.142456
1    2010-01-05  1972.781494  1972.781494  1893.870239  1972.781494
2    2010-01-06  1972.781494  1972.781494  1972.781494  1972.781494
3    2010-01-07  1972.781494  1972.781494  1972.781494  1972.781494
4    2010-01-08  1972.781494  1972.781494  1972.781494  1972.781494
...         ...          ...          ...          ...          ...
3263 2023-02-27  2270.000000  2270.000000  2170.000000  2170.000000
3264 2023-02-28  2170.000000  2170.000000  2080.000000  2090.000000
3265 2023-03-01  2100.000000  2110.000000  2050.000000  2060.000000
3266 2023-03-02  2070.000000  2100.000000  2060.000000  2080.000000
3267 2023-03-03  2100.000000  2130.000000  2070.000000  2090.000000

        Adj Close    Volume
0     1654.561401      8110
1     1741.643555      9124
2     1741.643555     28386
3     1741.643555      1520
4     1741.643555     89721
...           ...       ...
3263  2170.000000  36713500
3264  2090.000000  53205600
3265  2060.000000  29548100
3266  2080.000000  17353200
3267  2090.000000  17107100

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04  1750.0  1750.0  1730.0  1750.0   884.286926   26001500
1    2010-01-05  1790.0  1800.0  1750.0  1790.0   904.499207  212590500
2    2010-01-06  1800.0  1830.0  1790.0  1800.0   909.552307  230174500
3    2010-01-07  1840.0  1850.0  1810.0  1840.0   929.764465  152755000
4    2010-01-08  1960.0  1980.0  1840.0  1960.0   990.401428          3
...         ...     ...     ...     ...     ...          ...        ...
3263 2023-02-27  2910.0  2950.0  2890.0  2950.0  2950.000000   42554800
3264 2023-02-28  2940.0  3040.0  2910.0  2990.0  2990.000000  141401100
3265 2023-03-01  3000.0  3010.0  2940.0  2990.0  2990.000000   74127000
3266 2023-03-02  3000.0  3030.0  2970.0  2990.0  2990.000000   50943400
3267 2023-03-03  3090.0  3130.0  3020.0  3020.0  3020.000000  113137800

[3268 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1931.946777  1931.946777  1847.949097  1931.946777
1    2010-01-05  1931.946777  1994.945068  1931.946777  1931.946777
2    2010-01-06  1931.946777  1994.945068  1910.947388  1931.946777
3    2010-01-07  1973.945557  1994.945068  1931.946777  1973.945557
4    2010-01-08  1973.945557  1994.945068  1952.946167  1973.945557
...         ...          ...          ...          ...          ...
3263 2023-02-27  2000.000000  2040.000000  1985.000000  2010.000000
3264 2023-02-28  2030.000000  2040.000000  1990.000000  1990.000000
3265 2023-03-01  1990.000000  2020.000000  1975.000000  2000.000000
3266 2023-03-02  2010.000000  2040.000000  2000.000000  2010.000000
3267 2023-03-03  2010.000000  2040.000000  1985.000000  1995.000000

        Adj Close    Volume
0     1576.277344  39619544
1     1576.277344  62041590
2     1576.277344  30916328
3     1610.544067  30624653
4     1610.544067  15857579
...           ...       ...
3263  2010.000000  60281100
3264  1990.000000  99649100
3265  2000.000000  49985200
3266  2010.000000  57745800
3267  1995.000000  63901300

[3268 rows x 7 columns]
           Date          Open          High           Low         Close  \
0    2010-01-04  21486.791016  22725.496094  21486.791016  22725.496094
1    2010-01-05  23058.994141  23106.636719  22630.210938  23058.994141
2    2010-01-06  22963.708984  23249.564453  22916.066406  22963.708984
3    2010-01-07  23868.917969  23916.560547  23058.994141  23868.917969
4    2010-01-08  24059.488281  24202.416016  23773.632812  24059.488281
...         ...           ...           ...           ...           ...
3264 2023-02-27   8400.000000   8450.000000   8350.000000   8375.000000
3265 2023-02-28   8375.000000   8400.000000   8300.000000   8300.000000
3266 2023-03-01   8300.000000   8425.000000   8300.000000   8375.000000
3267 2023-03-02   8375.000000   8400.000000   8325.000000   8375.000000
3268 2023-03-03   8400.000000   8400.000000   8300.000000   8350.000000

         Adj Close   Volume
0     15796.666016  1006977
1     16028.481445  1761555
2     15962.246094  1070471
3     16591.464844  2431649
4     16723.929688   949256
...            ...      ...
3264   8375.000000   958100
3265   8300.000000  1233800
3266   8375.000000   431100
3267   8375.000000   436200
3268   8350.000000   607600

[3269 rows x 7 columns]
           Date     Open     High      Low    Close     Adj Close    Volume
0    2010-01-04   1787.5   1850.0   1762.5   1837.5   1408.558838  26442000
1    2010-01-05   1875.0   1887.5   1825.0   1875.0   1437.305054  42874000
2    2010-01-06   1900.0   1925.0   1862.5   1862.5   1427.723267  44946000
3    2010-01-07   1875.0   1912.5   1862.5   1875.0   1437.305054  24863000
4    2010-01-08   1900.0   1912.5   1862.5   1887.5   1446.887207  19118000
...         ...      ...      ...      ...      ...           ...       ...
3263 2023-02-27  10125.0  10150.0  10000.0  10050.0  10050.000000   3355700
3264 2023-02-28  10000.0  10125.0   9900.0  10125.0  10125.000000   6041600
3265 2023-03-01  10125.0  10125.0   9750.0   9900.0   9900.000000  11688400
3266 2023-03-02   9875.0   9875.0   9700.0   9850.0   9850.000000   9145000
3267 2023-03-03   9850.0   9900.0   9725.0   9725.0   9725.000000   4486000

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  3650.0  3875.0  3650.0  3875.0  3106.481201  41084500
1    2010-01-05  3825.0  3925.0  3800.0  3825.0  3066.397461  24778000
2    2010-01-06  3950.0  3975.0  3825.0  3950.0  3166.606445  40715000
3    2010-01-07  3975.0  4025.0  3900.0  3975.0  3186.648193  35515500
4    2010-01-08  4000.0  4000.0  3925.0  4000.0  3206.690186  10280000
...         ...     ...     ...     ...     ...          ...       ...
3263 2023-02-27  6575.0  6675.0  6525.0  6650.0  6650.000000  11511600
3264 2023-02-28  6725.0  6875.0  6625.0  6825.0  6825.000000  14276500
3265 2023-03-01  6825.0  6925.0  6775.0  6925.0  6925.000000  11854600
3266 2023-03-02  6925.0  6925.0  6825.0  6825.0  6825.000000   8187100
3267 2023-03-03  6825.0  6850.0  6775.0  6825.0  6825.000000   4793000

[3268 rows x 7 columns]

           Date     Open     High      Low    Close     Adj Close   Volume
0    2010-01-04  32050.0  32250.0  31750.0  32050.0   8621.447266  1226500
1    2010-01-05  33300.0  33500.0  32200.0  33300.0   8957.698242  1552000
2    2010-01-06  33000.0  34300.0  32950.0  33000.0   8876.998047  1745500
3    2010-01-07  32600.0  33500.0  32400.0  32600.0   8769.399414   988500
4    2010-01-08  32650.0  32950.0  32550.0  32650.0   8782.848633  1826000
...         ...      ...      ...      ...      ...           ...      ...
3263 2023-02-27  36025.0  36325.0  35825.0  36050.0  36050.000000  2007000
3264 2023-02-28  36075.0  37725.0  36050.0  37200.0  37200.000000  4923200
3265 2023-03-01  37200.0  37300.0  36750.0  36975.0  36975.000000  2432500
3266 2023-03-02  37175.0  38000.0  36975.0  38000.0  38000.000000  2904700
3267 2023-03-03  38075.0  38500.0  37650.0  37950.0  37950.000000  1869200

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04   280.0   282.0   278.0   280.0   196.568802   2800000
1    2010-01-05   278.0   284.0   276.0   278.0   195.164764   3905000
2    2010-01-06   278.0   280.0   276.0   278.0   195.164764   3250000
3    2010-01-07   276.0   278.0   274.0   276.0   193.760712   3192500
4    2010-01-08   276.0   280.0   276.0   276.0   193.760712   1192500
...         ...     ...     ...     ...     ...          ...       ...
3264 2023-02-27  1310.0  1320.0  1305.0  1310.0  1310.000000   4870300
3265 2023-02-28  1315.0  1355.0  1315.0  1345.0  1345.000000  19749900
3266 2023-03-01  1350.0  1365.0  1315.0  1325.0  1325.000000  19103900
3267 2023-03-02  1310.0  1320.0  1280.0  1290.0  1290.000000  33654600
3268 2023-03-03  1290.0  1300.0  1275.0  1280.0  1280.000000  12379800

[3269 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1845.677368  1855.654053  1805.770874  1845.677368
1    2010-01-05  1865.630737  1875.607300  1845.677368  1865.630737
2    2010-01-06  1875.607300  1895.560547  1855.654053  1875.607300
3    2010-01-07  1865.630737  1885.583984  1845.677368  1865.630737
4    2010-01-08  1855.654053  1865.630737  1845.677368  1855.654053
...         ...          ...          ...          ...          ...
3263 2023-02-27  3460.000000  3460.000000  3300.000000  3310.000000
3264 2023-02-28  3320.000000  3400.000000  3250.000000  3250.000000
3265 2023-03-01  3300.000000  3330.000000  3250.000000  3250.000000
3266 2023-03-02  3250.000000  3300.000000  3210.000000  3250.000000
3267 2023-03-03  3340.000000  3400.000000  3310.000000  3340.000000

        Adj Close    Volume
0     1530.937744   6978806
1     1547.488525   7988164
2     1555.763916   7538113
3     1547.488525   2048787
4     1539.213257   2441705
...           ...       ...
3263  3310.000000   8198500
3264  3250.000000   4744900
3265  3250.000000   3020700
3266  3250.000000   7267000
3267  3340.000000  12603900

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close     Volume
0    2010-01-04   264.0   264.0   260.0   264.0   209.362244   45357500
1    2010-01-05   264.0   268.0   262.0   264.0   209.362244  106475000
2    2010-01-06   270.0   270.0   258.0   270.0   214.120468  252545000
3    2010-01-07   270.0   274.0   268.0   270.0   214.120468  244060000
4    2010-01-08   272.0   274.0   270.0   272.0   215.706573  168342500
...         ...     ...     ...     ...     ...          ...        ...
3264 2023-02-27  2240.0  2240.0  2120.0  2170.0  2170.000000   39487100
3265 2023-02-28  2170.0  2180.0  2110.0  2110.0  2110.000000   92212400
3266 2023-03-01  2100.0  2140.0  2090.0  2110.0  2110.000000   13968900
3267 2023-03-02  2120.0  2130.0  2100.0  2100.0  2100.000000   15271000
3268 2023-03-03  2100.0  2120.0  2040.0  2060.0  2060.000000   39606500

[3269 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2010-01-04  384.761902  384.761902  377.217560  384.761902  357.161743
1    2010-01-05  384.761902  384.761902  377.217560  384.761902  357.161743
2    2010-01-06  377.217560  384.761902  373.445374  377.217560  350.158569
3    2010-01-07  377.217560  384.761902  373.445374  377.217560  350.158569
4    2010-01-08  377.217560  377.217560  373.445374  377.217560  350.158569
...         ...         ...         ...         ...         ...         ...
3264 2023-02-27   80.000000   82.000000   79.000000   81.000000   81.000000
3265 2023-02-28   81.000000   81.000000   79.000000   81.000000   81.000000
3266 2023-03-01   81.000000   81.000000   79.000000   81.000000   81.000000
3267 2023-03-02   81.000000   81.000000   80.000000   81.000000   81.000000
3268 2023-03-03   81.000000   81.000000   78.000000   80.000000   80.000000

        Volume
0     11926141
1     14577794
2     15371103
3     28453076
4     15660061
...        ...
3264   9220200
3265   7822500
3266   4617700
3267   4605500
3268  14159300

[3269 rows x 7 columns]
           Date   Open   High    Low  Close   Adj Close    Volume
0    2010-01-04  210.0  210.0  205.0  210.0  172.426636   2612000
1    2010-01-05  215.0  215.0  205.0  215.0  176.531998  11348000
2    2010-01-06  215.0  230.0  210.0  230.0  188.848251  42654500
3    2010-01-07  220.0  230.0  215.0  220.0  180.637405  15630500
4    2010-01-08  220.0  220.0  215.0  220.0  180.637405   7806000
...         ...    ...    ...    ...    ...         ...       ...
3263 2023-02-27  670.0  670.0  655.0  665.0  665.000000  11447500
3264 2023-02-28  665.0  665.0  650.0  650.0  650.000000  23244000
3265 2023-03-01  655.0  665.0  650.0  655.0  655.000000  13032600
3266 2023-03-02  655.0  665.0  655.0  660.0  660.000000  15597500
3267 2023-03-03  660.0  665.0  655.0  655.0  655.000000   9482300

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  3950.0  3950.0  3900.0  3950.0  2310.956543         4
1    2010-01-05  3950.0  4025.0  3925.0  3950.0  2310.956543  40455000
2    2010-01-06  4050.0  4050.0  3950.0  4050.0  2369.461914         4
3    2010-01-07  4000.0  4075.0  3950.0  4000.0  2340.209229         4
4    2010-01-08  3975.0  4025.0  3925.0  3975.0  2325.583008         4
...         ...     ...     ...     ...     ...          ...       ...
3263 2023-02-27  1525.0  1545.0  1525.0  1535.0  1535.000000  21865400
3264 2023-02-28  1540.0  1565.0  1535.0  1565.0  1565.000000  26805300
3265 2023-03-01  1570.0  1575.0  1545.0  1550.0  1550.000000  17630000
3266 2023-03-02  1555.0  1605.0  1550.0  1600.0  1600.000000  48581200
3267 2023-03-03  1600.0  1615.0  1580.0  1580.0  1580.000000  36370100

[3268 rows x 7 columns]
           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  3560.0  3560.0  3450.0  3560.0  1579.671875        20
1    2010-01-05  3560.0  3600.0  3540.0  3560.0  1579.671875        20
2    2010-01-06  3640.0  3650.0  3560.0  3640.0  1615.170288        20
3    2010-01-07  3650.0  3710.0  3610.0  3650.0  1619.607910        20
4    2010-01-08  3660.0  3720.0  3640.0  3660.0  1624.045044        20
...         ...     ...     ...     ...     ...          ...       ...
3263 2023-02-27  3710.0  3780.0  3700.0  3730.0  3730.000000  17146400
3264 2023-02-28  3730.0  3870.0  3730.0  3860.0  3860.000000  36876800
3265 2023-03-01  3860.0  3900.0  3860.0  3880.0  3880.000000  19526100
3266 2023-03-02  3880.0  4000.0  3820.0  4000.0  4000.000000  36403900
3267 2023-03-03  4010.0  4020.0  3940.0  4010.0  4010.000000  24567900

[3268 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2010-02-09  551.275757  551.275757  532.266296  551.275757  443.613495
1    2010-02-10  532.266296  560.780518  522.761536  532.266296  428.316528
2    2010-02-11  541.770996  551.275757  532.266296  541.770996  435.964905
3    2010-02-12  570.285278  579.790039  541.770996  570.285278  458.910522
4    2010-02-15  560.780518  579.790039  560.780518  560.780518  451.261963
...         ...         ...         ...         ...         ...         ...
3237 2023-02-27  685.000000  685.000000  645.000000  645.000000  645.000000
3238 2023-02-28  645.000000  655.000000  640.000000  640.000000  640.000000
3239 2023-03-01  640.000000  655.000000  640.000000  640.000000  640.000000
3240 2023-03-02  640.000000  650.000000  630.000000  640.000000  640.000000
3241 2023-03-03  640.000000  650.000000  635.000000  645.000000  645.000000

         Volume
0     172625706
1      23877522
2      31922443
3             3
4      25769207
...         ...
3237    4161300
3238    4918400
3239    2808100
3240    5160100
3241    2969200

[3242 rows x 7 columns]

           Date    Open    High     Low   Close    Adj Close    Volume
0    2010-01-04  7600.0  7650.0  7500.0  7600.0  5561.376465   3979000
1    2010-01-05  7700.0  7750.0  7650.0  7700.0  5634.552734   5844500
2    2010-01-06  7800.0  7950.0  7700.0  7800.0  5707.729004   4945000
3    2010-01-07  7700.0  7950.0  7600.0  7700.0  5634.552734   3886000
4    2010-01-08  7650.0  7750.0  7600.0  7650.0  5597.965332   9397500
...         ...     ...     ...     ...     ...          ...       ...
3263 2023-02-27  7400.0  7450.0  7250.0  7375.0  7375.000000   9114700
3264 2023-02-28  7400.0  7425.0  7200.0  7225.0  7225.000000  10922900
3265 2023-03-01  7225.0  7325.0  7200.0  7250.0  7250.000000   5717600
3266 2023-03-02  7250.0  7250.0  7150.0  7150.0  7150.000000   7080600
3267 2023-03-03  7150.0  7275.0  7150.0  7175.0  7175.000000   8810300

[3268 rows x 7 columns]
           Date   Open   High    Low  Close   Adj Close    Volume
0    2013-06-17  290.0  290.0  200.0  250.0  227.802200         3
1    2013-06-18  250.0  255.0  240.0  240.0  218.690125  58563000
2    2013-06-19  240.0  245.0  235.0  240.0  218.690125  32646000
3    2013-06-20  240.0  240.0  225.0  235.0  214.134079  22087000
4    2013-06-21  230.0  240.0  225.0  235.0  214.134079   5385000
...         ...    ...    ...    ...    ...         ...       ...
2404 2023-02-27  146.0  146.0  146.0  146.0  146.000000         0
2405 2023-02-28  146.0  146.0  146.0  146.0  146.000000         0
2406 2023-03-01  146.0  146.0  146.0  146.0  146.000000         0
2407 2023-03-02  146.0  146.0  146.0  146.0  146.000000         0
2408 2023-03-03  146.0  146.0  146.0  146.0  146.000000         0

[2409 rows x 7 columns]
           Date   Open   High    Low  Close   Adj Close    Volume
0    2013-06-28  700.0  700.0  570.0  570.0  543.090576         3
1    2013-07-01  570.0  580.0  560.0  570.0  543.090576  19333500
2    2013-07-02  570.0  580.0  560.0  570.0  543.090576  24017500
3    2013-07-03  570.0  570.0  520.0  530.0  504.979034  30176000
4    2013-07-04  540.0  540.0  495.0  500.0  476.395294  31589000
...         ...    ...    ...    ...    ...         ...       ...
2395 2023-02-27  398.0  398.0  396.0  396.0  396.000000    795700
2396 2023-02-28  396.0  400.0  394.0  394.0  394.000000   1234700
2397 2023-03-01  394.0  400.0  388.0  392.0  392.000000   2608100
2398 2023-03-02  394.0  396.0  390.0  392.0  392.000000   1400100
2399 2023-03-03  394.0  398.0  386.0  390.0  390.000000   1952000

[2400 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1368.545532  1376.190918  1360.900024  1368.545532
1    2010-01-05  1399.127441  1399.127441  1376.190918  1399.127441
2    2010-01-06  1376.190918  1376.190918  1376.190918  1376.190918
3    2010-01-07  1383.836426  1383.836426  1376.190918  1383.836426
4    2010-01-08  1399.127441  1399.127441  1376.190918  1399.127441
...         ...          ...          ...          ...          ...
3263 2023-02-27  7125.000000  7125.000000  7000.000000  7050.000000
3264 2023-02-28  7050.000000  7075.000000  6950.000000  7000.000000
3265 2023-03-01  7000.000000  7050.000000  6975.000000  7025.000000
3266 2023-03-02  7050.000000  7050.000000  7000.000000  7000.000000
3267 2023-03-03  7000.000000  7050.000000  6950.000000  6950.000000

        Adj Close   Volume
0     1250.471680        5
1     1278.415161        5
2     1257.457642     6539
3     1264.443604        5
4     1278.415161        5
...           ...      ...
3263  7050.000000   762200
3264  7000.000000  1655600
3265  7025.000000   306800
3266  7000.000000   585100
3267  6950.000000   741800

[3268 rows x 7 columns]
           Date         Open         High          Low        Close  \
0    2010-01-04  1351.553223  1436.025269  1338.037598  1436.025269
1    2010-01-05  1469.814087  1520.497314  1469.814087  1469.814087
2    2010-01-06  1486.708496  1503.602905  1452.919678  1486.708496
3    2010-01-07  1469.814087  1503.602905  1436.025269  1469.814087
4    2010-01-08  1469.814087  1486.708496  1436.025269  1469.814087
...         ...          ...          ...          ...          ...
3263 2023-02-27  1185.000000  1195.000000  1170.000000  1175.000000
3264 2023-02-28  1195.000000  1195.000000  1175.000000  1190.000000
3265 2023-03-01  1190.000000  1195.000000  1170.000000  1185.000000
3266 2023-03-02  1185.000000  1205.000000  1180.000000  1200.000000
3267 2023-03-03  1200.000000  1215.000000  1200.000000  1205.000000

        Adj Close    Volume
0     1085.940552  58358044
1     1111.491821  84835730
2     1124.267578  44308282
3     1111.491821  36432898
4     1111.491821  14320561
...           ...       ...
3263  1175.000000   5681300
3264  1190.000000   4405300
3265  1185.000000   3728500
3266  1200.000000   6286500
3267  1205.000000   4712100

[3268 rows x 7 columns]